<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header p-2">
                    <mat-tab-group disableRipple="true">
                        <mat-tab label="Tijarah Base Model">
                            
                        </mat-tab>
                        <mat-tab label="Upload Inventory Pictures">
                            <inventory-pictures></inventory-pictures>
                        </mat-tab>
                        <mat-tab label="Third"> Content 3 </mat-tab>
                        <mat-tab label="Fourth"> Content 4 </mat-tab>
                        <mat-tab label="Fifth"> Content 5 </mat-tab>
                        <mat-tab label="Sixth"> Content 6 </mat-tab>
                        <mat-tab label="Seventh"> Content 7 </mat-tab>
                    </mat-tab-group>
                </div><!-- /.card-header -->
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->