<div class="container">
    <div id="pdfTable" #pdfTable>
      <h2>Angular HTML To PDF Generator Example - ItSolutionStuff.com</h2>
                
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hardik</td>
            <td>Savani</td>
            <td>itsolutionstuff.com</td>
          </tr>
          <tr>
            <td>Vimal</td>
            <td>Kashiyani</td>
            <td>hdtuto.com</td>
          </tr>
          <tr>
            <td>Harshad</td>
            <td>Pathak</td>
            <td>nicesnippets.com</td>
          </tr>
        </tbody>
      </table>
      <h1> SCHEDULE 1</h1>
      <h2>Notice (for TIJARAH Transactions)</h2>
      <h2>Date:</h2>
      <h2>M/s Union Apparel Private Limited.,</h2>
      <h2>KARACHI</h2>
      <h2>From: MEEZAN BANK LIMITED</h2>
      <h2>Re: Authorization to Sell the Finished Goods as Undisclosed Agent</h2>
     







      <p>We refer to the Agency Agreement between you and us dated 17-08-21 (Agency Agreement)</p><br>
      <p>
          In pursuance of Clause 3 of the Agency Agreement, we hereby authorize you to sell the following Finished Goods (“Sale
          Goods”) on our behalf as our undisclosed agent and following the sale of the Sale Goods collect and pay us the Sale Price
          immediately within next day (or as agreed upon between us) after the receipt of Sale price. We hereby advise and authorize
          you to take possession of the Sale Goods from Union Apparel Private Limited, F-559/A, SITE, Karachi on __________ so as
          to be able to execute the sale contemplated by this Notice and the Agency Agreement. Your Agency Fee and Incentive Fee
          shall be as per attached Schedule 2 
          </p>
    </div>

    <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
  </div>